/* body全体を画面いっぱいに使う */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* 上部に揃える */
    height: 100vh; /* 画面の高さを100% */
}

/* タイトル */
.title-container {
    flex-basis: 10%;
    width: 100%;
    text-align: center;
    font-size: larger;
}

/* コンテナも画面全体を使うように設定 */
.container {
    flex-grow: 1; /* 残りの高さを使う */
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    max-height: 90vh; /* 最大の高さを画面の90%に制限 */
}

/* センサー情報 */
.sensor-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 50%;
    height: 100%;
}

.heart-rate, .acceleration {
    flex-shrink: 1; /* 高さが可変で伸縮するように */
    text-align: center;
    font-size: 1.5em;
    font-weight: bold; /* 太字 */
}

canvas {
    max-width: 100%;  /* コンテナに合わせてキャンバスの幅を調整 */
    height: auto;  /* 高さはアスペクト比を保って自動調整 */
}

/* メッセージ */
.message-container {
    flex-basis: 50%;
    height: 100%;
    background-color: #fff;
}