<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Excercise Monitor</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <!-- タイトル -->
    <div class="title-container">
        <h1>Excercise Monitor</h1>
    </div>
    <div class="container">
        <!-- 心拍数セクション -->
        <div class="sensor-container">
            <div class="heart-rate">
                <p id="heart-rate">心拍数 Waiting for data...</p>
                <canvas id="heartRateChart" width="900" height="300"></canvas>
            </div>
            <div class="acceleration">
                <p id="acceleration">運動量 Waiting for data...</p>
                <canvas id="accelerationChart" width="900" height="300"></canvas>
            </div>
        </div>
        <!-- メッセージセクション -->
        <div class="message-container">
            <p id="data-container">Waiting for data...</p>
        </div>
    </div>
    <script src="/static/heart_rate.js"></script>
    <script src="/static/acceleration.js"></script>
</body>
</html>
